{% extends "template.html" -%}

{% block content -%}
    <div class="container">
        <div class="blog">
            <h1>Blog</h1><br>
            {% for entry in entries -%}
            <div class="entry">
                <h1 id="{{ entry.id }}">
                    <a href="{{ url_for('entry', ident=entry.id) }}">
                        {{ entry.item.name }} ({{ entry.item.date }}) {{ r_to_star(entry.rating) }}
                    </a>
                </h1>
                <small>
                    rated {{ entry.rating }}/100 by
                    <a href="{{ url_for('user', name=entry.user.name) }}">
                        {{ entry.user.name }}
                    </a> on {{ entry.reviewed }}
                </small><br>
                {% autoescape off -%}
                {{ entry.text }}
                {% endautoescape -%}
            </div><br>
            {% endfor -%}
        </div>
    </div>
{% endblock -%}
