@import 'style.css';

:root {
    --bg0: rgb(29,32,33);
    --bg1: rgb(50,55,60);
    --color0: rgb(220,120,0);
    --footerbg0: rgb(50,55,60);
    --link0: rgb(220, 120, 0);
    --link1: rgb(255,255,255);
    --menulink0: rgb(220, 120, 0);
    --menulink1: rgb(255,255,255);
    --menubg0: rgb(50,55,60);
    --text0: rgb(235,219,178);
    --text1: rgb(220, 120, 0);
}
