@import 'style.css';

:root {
    --bg0: rgb(255,255,255);
    --bg1: rgb(192,192,192);
    --color0: rgb(0,0,120);
    --footerbg0: rgb(192,192,192);
    --link0: rgb(0,0,120);
    --link1: rgb(255,255,255);
    --menulink0: rgb(0,0,120);
    --menulink1: rgb(255,255,255);
    --menubg0: rgb(192,192,192);
    --text0: rgb(0,0,0);
    --text1: rgb(0,0,120);
}
